* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro';
 }
.nav {
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px, 75px;
    position: fixed;
   
}
nav .logo{
    font-size: 30px;
    letter-spacing: 1.5px;
}
nav .logo p {
    float: left;
    color: black;
}
nav .navbar {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: normal;
    border-bottom: 10px black;
    background-image: linear-gradient(red, black);
}
nav .navbar ul {
    float: right;
}
nav .navbar li{
    display: inline-block;
    list-style: none;
}
nav .navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0px, 32px ;
}
nav .navbar ul li a:hover{
    color: black;
}
nav .navbar ul li .active{
    color: black;
}
.header{
    text-align: center;
    padding: 25px;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fdm0qx8t0i9gc9.cloudfront.net%2Fthumbnails%2Fvideo%2FSRsQjwFQMjby34s1c%2Fvideoblocks-binary-blue-particles-falling-down-in-matrix-style-futuristic-seamless-3d-animation-with-bright-1-and-0-code-computer-technology-network-and-cryptocurrency-blockchain-concept-loop-alpha-matte_hzfnzaabax_thumbnail-1080_01.png&f=1&nofb=1);
    opacity: 80%;
}
.header h1{
    font-family: 'Source Code Pro';
    font-size: 36px;
    font-weight: 800;
    color:white;
    text-decoration: underline;
    background-color: black;
    padding-left: 150px;
    padding-right: 150px;
    border: black;
    border-radius: 20px;
}
.space{
    background-color: white;
    color: white;
    padding: 5px;
}
.container-one{
    display: contents;
    border-bottom: 5px black;
    align-content: center;
    position:absolute;
    padding-right: 10px;
   
}
.container-two{
    background-color:black;
    opacity: 90%;
   
}
.intro-header{
    display: block;
    text-align: center;
    text-decoration: underline;
    font-family: "Source Code Pro";
    font-size: 20px;
    color: white;
}
.intro-paragraph{
    padding-left: 20px;
    padding-right: 20px;
    border: black thick 24px;
    border-radius: 24px;
    color: white;
}
.cyber-involvement h2{
    text-align: center;
    color: white;
}
.cyber-involvement p{
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border: solid black;
    border-radius: 24px;
}
.container-three{
    display: block;
    background-color: lightslategrey;
    border-bottom: 5px black;
}
.learn_more_button{
    text-align: center;
    padding: 10px, 24px;
    display: block;
    align-items: center;
    box-shadow: 10px;
}
.learn_more_button button{
    border-radius: 24px;
    background-color: black;
    color: white;
}
.learn_more_button button:hover{
    color: red;
    transition-duration: .5s;
    box-shadow: 10px;
}
.myCarousel{
    min-height: 100px;
    min-width: 80%;
}
.carousel-indicators{
    list-style: none;
    min-width: 25px ;
    border-radius: 0px;
}
.carousel-inner{
   min-height: 100px;
   min-width: 80%;
   background-color: black;

}
.carousel-inner img{
    min-height: 100px;
    min-width: 80%;
    border-radius: 75px;
    border: 10px black;
    margin-left: 10px;
    margin-right: 10px;
}
.carousel-caption{
    display:block;
    font-size: 18;
    text-align: top;
}
.carousel-caption h1{
   font-size: 14px;
}
#cert_card{
    margin: 10px;
    font-weight: bold;
    border: solid;
    border-radius: 24px;
}
#cdt_card{
    margin: 10px;
    font-weight: bold;
    border: solid;
    border-radius: 24px;
}
#tryhackme_card{
    margin: 10px;
    font-weight: bold;
    border: solid;
    border-radius: 24px;
}
.row{
    background: black;
}